
*.bundle
*.o
*.rb~
*.so
*.swo
*.swp
*.tmproj
*~
.DS_Store
.idea
.loadpath
.project
.yardoc
/config/*.sphinx.conf
/data
/db/sphinx/*
/index
/public/countries.json
/public/feed.atom
/public/insurances.json
/public/javascripts/cache
/public/stylesheets/cache
/public/stylesheets/compiled
/public/version*
/vendor/selenium-grid/log/*.log
Info.plist
Makefile
cert/CA/newcerts/*
cert/CA/serial
config/database.yml
conftest
coverage
doc/*.pdf
doc/api
doc/app
doc/javascript
doc/plots
doc/plugins
index/*
log/*.log
log/*.pid
log/mongrel.pid
mkmf.log
out
rerun.txt
restore_from_backup.sh
tmp
tmp.pot~
yardoc

